<mat-toolbar color="primary">
  <span>Welcome to {{title}}!</span>
  <span class="toolbar-spacer"></span>
  <button
    class="button-spacer"
    mat-raised-button
    color="accent"
    *ngIf="!oktaAuth.isAuthenticated"
    routerLink="/register">
    Register
  </button>
  <button
    mat-raised-button
    color="accent"
    *ngIf="!oktaAuth.isAuthenticated"
    routerLink="/login">
    Login
  </button>
  <button
    mat-raised-button
    color="accent"
    *ngIf="isAuthenticated"
    (click)="logout()">Logout
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
