<mat-card class="dashboard-profile-card" *ngIf="profile">
  <mat-card-header>
    <img mat-card-avatar src="assets/johan-vergeer.jpeg">
    <mat-card-title>{{profile.username}}</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutGap="5px">
    <div *ngIf="profile.bio" fxLayout="column" fxLayoutGap="3px">
      <div class="status-label">
        biography
      </div>
      <div>{{profile.bio}}</div>
    </div>
    <div *ngIf="profile.website" fxLayout="column" fxLayoutGap="3px">
      <div class="status-label">
        website
      </div>
      <a href="{{profile.website}}" target="_blank" class="url"> {{Profile.website_name}}</a>
    </div>
    <div fxLayout="row" fxLayoutGap="5%">
      <div fxFlex="33%">
        <div class="status-label">Gabbles</div>
        <div class="status-value">123</div>
      </div>
      <div fxFlex="33%">
        <div class="status-label">Following</div>
        <div class="status-value">{{profile.followingCount}}</div>
      </div>
      <div fxFlex="33%">
        <div class="status-label">Followers</div>
        <div class="status-value">{{profile.followersCount}}</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
