<mat-card class="dashboard-profile-card">
  <mat-card-header>
    <img mat-card-avatar src="assets/johan-vergeer.jpeg">
    <mat-card-title>{{profile.username}}</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row" fxLayoutGap="5%">
    <div fxFlex="33%">
      <div class="status-label">Gabbles</div>
      <div class="status-value">123</div>
    </div>
    <div fxFlex="33%">
      <div class="status-label">Following</div>
      <div class="status-value">10</div>
    </div>
    <div fxFlex="33%">
      <div class="status-label">Followers</div>
      <div class="status-value">12</div>
    </div>
  </mat-card-content>
</mat-card>
