<div fxLayout="column" fxLayoutGap="10px">
  <app-profile-header></app-profile-header>
  <mat-divider></mat-divider>
  <div fxLayout="row">
    <div fxFlex="25%" class="left-column" fxLayoutAlign="center start">
      <div fxFlex="90%" fxLayout="column" fxLayoutGap="10px">
        <app-profile-info></app-profile-info>
      </div>
    </div>
    <div fxFlex="50%" fxLayoutAlign="center start" class="center-column">
      <router-outlet></router-outlet>
    </div>
    <div fxFlex="25%" class="right-column">
      <app-who-to-follow></app-who-to-follow>
    </div>
  </div>
</div>

