.left-column {
  background-color: purple;
}

.center-column {
  background-color: green;
}

.right-column {
  background-color: yellow;
}

.profile-header {
  .profile-header-img {
    width: 100%;
    border-radius: 50%;
  }

  .left-column {
    background-color: pink;
  }

  .center-column {
    background-color: red;
  }

  .right-column {
    background-color: blue;
  }
}

.status-label {
  color: #657786;
  font-size: 12px;
  font-weight: bold;
}

.status-value {
  color: #1DA1F2;
  font-size: 18px;
  font-weight: bold;
}
