<div fxLayout="column" fxLayoutGap="10px">
  <h1>You can follow:</h1>
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="assets/johan-vergeer.jpeg">
      <mat-card-title>johan_vergeer</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="assets/johan-vergeer.jpeg">
      <mat-card-title>johan_vergeer</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="assets/johan-vergeer.jpeg">
      <mat-card-title>johan_vergeer</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="assets/johan-vergeer.jpeg">
      <mat-card-title>johan_vergeer</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
