<div fxLayout="column" fxLayoutGap="10px">
  <mat-card fxFlex="100%">
    <mat-card-title>
      <mat-icon>account_circle</mat-icon>
      <span>Username</span>
    </mat-card-title>
    <mat-card-content>
      Text of maximum 140 characters
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab>
        <mat-icon>thumb_up</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <mat-icon>account_circle</mat-icon>
      <span>Username</span>
    </mat-card-title>
    <mat-card-content>
      Text of maximum 140 characters
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab>
        <mat-icon>thumb_up</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
